body {
  margin: 0;
  background: #0f0f13;
  color: #fff;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #1a1a20;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #8d4bff;
}

nav a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}

#search {
  padding: 8px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 25px;
  gap: 20px;
}

.product-card {
  background: #1f1f26;
  padding: 15px;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px #8d4bff;
}

.product-card img {
  width: 100%;
  border-radius: 8px;
}

.price {
  font-size: 17px;
  color: #8d4bff;
}

#cart-count {
  background: #8d4bff;
  padding: 3px 6px;
  border-radius: 50%;
}

/* Produkt */
.product-container {
  padding: 30px;
  max-width: 1000px;
  margin: auto;
}

.product-container img {
  width: 300px;
  float: left;
  margin-right: 20px;
}

button {
  background: #8d4bff;
  border: none;
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
}

button:hover {
  opacity: 0.8;
}

